*, *::before, *::after{
    box-sizing: border-box;
}
:root{
    --content: '';
}
html{
    font-size: 3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
    width: max-content;
    height: max-content;
}
a{
    width: max-content;
    height: max-content;
    text-decoration: none;
    color: inherit;
    transition: box-shadow calc(1s/25) linear;
}
a:hover{
    box-shadow: 0 .2vh blue;
}
body > h3{
    display: inherit;
    position: inherit;
    cursor: pointer;
}
body > h3::after{
    content: '';
    background: url('./media/link\(1\).png') right center no-repeat;
    background-size: contain;
    display: inline;
    width: inherit;
    height: inherit;
    width: 2vh;
    height: 2vh;
    opacity: .2;
    padding-right: 3vh;
    margin-left: 1vh;
}
body > h3:hover::after{
    opacity: 1;
}
.white{
    color: white;
}
.black{
    color: black;
}
.body__header{
    display: grid;
    position: sticky;
    top: 0;
    left: 0;
    grid: 100% / max-content auto;
    width: 100vw;
    height: min-content;
    transition: height 1s linear;
}
.header__aside{
    display: flex;
    width: initial;
    justify-content: start;
    align-items: center;
    position: initial;
    padding-left: .5vw;
    color: white;
    background-color: black;
}
.header__aside > h1{
    display: block;
    width: max-content;
    height: max-content;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: text-shadow calc(1s/25) linear;
}
.header__aside > h1:hover{
    text-shadow: -.4vh -.4vh red, .4vh .4vh blue;
}
.header__nav{
    display: grid;
    grid: 100% / auto auto auto auto auto;
    grid-column-gap: .75vh;
    position: initial;
    background-color: white;
    justify-content: end;
    align-items: center;
    padding-right: 3vh;
}
.header__nav > h2{
    display: initial;
    width: max-content;
    height: max-content;
    color: black;
    font-variant: small-caps;
    cursor: pointer;
    transition: box-shadow calc(1s/25) linear;
}
.header__nav > h2:hover{
    box-shadow: 0 .4vh blue;
}
.body__section{
    display: block;
    width: initial;
    height: max-content;
    margin: .5vw;
    background-color: lightyellow;
    color: darkslategray;
    box-shadow: .2vw .4vh 0 0 black;
    transition: box-shadow calc(1s/25);
}
.body__section:hover{
    background-color: white;
    color: black;
    box-shadow: -.2vw -.4vh .1vw .2vh gray;
}